<div class="container">
  <h1>Stupid coaching</h1>
  <div class="banner">
    <h2><%= @question %></h2>
    <p>- You</p>
  </div>

  <div class="banner coach" >
    <h2><%= @answer %></h2>
    <p>- Your coach</p>
  </div>
</div>




<%= link_to'Ask a new question', ask_path %>
