<br>
<h1>Stupid coaching</h1>
<form action="/answer">
  <label for="question">Ask your coach</label><br>
  <input type="text" id="question" name="question" placeholder="have you a questions?">
  <input type="submit" value="Go on!">
</form>
